@import "../../../sass/variables.scss";

.experience_section {
  padding: 70px 0;

  @media (max-width: 768px) {
    padding: 40px 0;
  }

  .head_title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: linear-gradient(
      120deg,
      $primary-color 20.69%,
      $primary-color 40.19%,
      #fefefe 79.69%
    );
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;

    @media (max-width: 768px) {
      margin-bottom: 30px;
      font-size: 30px;
    }

    svg {
      color: #804beb;
    }
  }

  .experience_box {
    background-color: #140c1c;
    padding: 25px;
    border-radius: 8px;
    @media (max-width: 768px) {
      padding: 15px;
    }

    .head_box {
      margin-bottom: 20px;

      .subtitle {
        font-size: 20px;
        font-weight: 700;
        color: $primary-color;
        margin-bottom: 5px;
        display: block;

        @media (max-width: 768px) {
          font-size: 17px;
        }
      }

      .title {
        font-size: 30px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 5px;
        text-transform: uppercase;

        @media (max-width: 768px) {
          font-size: 25px;
        }
      }

      small {
        font-size: 15px;
        font-weight: 500;
        color: rgb(179, 179, 179);

        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
    }

    .desc {
      margin-bottom: 8px;
      color: #ddd;

      @media (max-width: 768px) {
        font-size: 15px;
      }
    }

    ul {
      li {
        font-size: 14px;
        color: #ddd;

        display: flex;
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }
}
